# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class

# C extensions
*.so

# Python Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.pytest_cache

# Local Virtual Environment
.venv/

# Local ci pipeline development
/.ci/creds.local.yml
/.ci/pipeline.local.yml

# Generated coverage files
.coverage
htmlcov/
