/coverage/
/data/
/build/
/build-concourse/.nyc_output/

/build-concourse/node_modules/
/build-concourse/gdocs-*.yml
/build-concourse/webhosting-*.yml
/build-concourse/corgi-*.yml

/script/cross-lib/book_data
/script/cross-lib/logs

# Files generated inside the container and therefore need to be ignored when opened inside Gitpod
/venv/

.env
test/cov.xml
test/.coverage
test/cov.html/
