[submodule "mathify"]
	path = mathify
	url = https://github.com/openstax/mathify
	branch = main
[submodule "nebuchadnezzar"]
	path = nebuchadnezzar
	url = https://github.com/openstax/nebuchadnezzar
	branch = main
[submodule "cnx-easybake"]
	path = cnx-easybake
	url = https://github.com/openstax/cnx-easybake
	branch = main
[submodule "cookbook"]
	path = cookbook
	url = https://github.com/openstax/cookbook
	branch = main
[submodule "cnx-recipes"]
	path = cnx-recipes
	url = https://github.com/openstax/cnx-recipes
	branch = main
[submodule "xhtml-validator"]
	path = xhtml-validator
	url = https://github.com/openstax/xhtml-validator
	branch = main
[submodule "output-producer-resource"]
	path = output-producer-resource
	url = https://github.com/openstax/output-producer-resource
	branch = main
