/coverage/
/data/
/build/
/build-concourse/.nyc_output/

/build-concourse/node_modules/
/build-concourse/gdocs-*.yml
/build-concourse/webhosting-*.yml
/build-concourse/corgi-*.yml

batch-builder/book-data
batch-builder/logs

/bakery-src/scripts/build
/bakery-src/scripts/cops_bakery_scripts.egg-info

# Used by neb
.neb-state

# Files generated inside the container and therefore need to be ignored when opened inside Gitpod
/venv/

.env
test/cov.xml
test/.coverage
test/cov.html/

/bakery-js/coverage
/bakery-js/node_modules
/bakery-js/dist
/bakery-js/testing