[submodule "mathify"]
	path = mathify
	url = https://github.com/openstax/mathify
[submodule "princexml"]
	path = princexml
	url = https://github.com/openstax/princexml
[submodule "nebuchadnezzar"]
	path = nebuchadnezzar
	url = https://github.com/openstax/nebuchadnezzar
[submodule "cnx-easybake"]
	path = cnx-easybake
	url = https://github.com/openstax/cnx-easybake
[submodule "recipes"]
	path = recipes
	url = https://github.com/openstax/recipes
[submodule "output-producer-service"]
	path = output-producer-service
	url = https://github.com/openstax/output-producer-service
[submodule "cnx-recipes"]
	path = cnx-recipes
	url = https://github.com/openstax/cnx-recipes
