cnx-epub==0.31.3
cnx-common==1.3.6
cnx-easybake==1.2.8
awscli==1.18.48
boto3==1.12.48
jsonschema==3.2.0
python-magic==0.4.15
google-api-python-client==1.10.0
pygit2==1.4.0
Pillow==8.1.1
python-dateutil==2.8.1