# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# JupyterLab
.ipynb_checkpoints/
*.ipynb

# Pytest report files
report.html
junit.xml

# testrail files
testrail.cfg
