interactions:
- request:
    body: '{"pdf_url": "http://dummy.cops.org/col12345-latest.pdf", "status_id": "5"}'
    headers:
    method: PUT
    uri: http://localhost/api/jobs/1
  response:
    body:
      string: '{"collection_id":"col12345","status_id":"5","pdf_url":"http://dummy.cops.org/col12345-latest.pdf","content_server_id":"1","version":null,"style":"book_style","job_type_id":"1","id":"1","created_at":"2020-09-10T18:35:29.106145","updated_at":"2020-09-10T21:48:45.861011","status":{"name":"completed","id":"5"},"content_server":{"hostname":"content01.cnx.org","host_url":"https://content01.cnx.org","name":"content01","id":"1"},"job_type":{"name":"pdf","id":"1"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
