.mainscreen {
  margin-top: 2vh;
}

.title-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-navigation {
  padding: 1rem;
}

@media (min-width: 960px) {
  .title-image {
    display: block;
  }
  .job-navigation {
    padding: 0;
  }
}
